{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }} | Administración</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    
    <div class="container">
            <section class="hero">
            <h1>Registrate y obtén mas ofertas</h1>
            <p>Únete a empanadas ED, para recibir las mejores ofertas y promociones.</p>
        </div>

    <!--MOSTRAR AVISO DE CREADO-->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <center><h1>Crear cuenta</h1></center>

<center><div class="card">
    <form action="{% url 'registro' %}" method="POST">
        {% csrf_token %}
        <main>
        <div class="page">
            <label for="username"><b>Nombre de usuario</b></label>
            <input type="text" id="username" name="username" required minlength="3">
        </div>

        <div>
            <label for="email"><b>Correo electrónico</b></label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="password"><b>Contraseña</b></label>
            <input type="password" id="password" name="password" required minlength="8">
        </div>

        <div>
            <label for="confirm_password"><b>Confirmar contraseña</b></label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>

        <button type="submit">Crear cuenta</button>
    </form> </center>
  </div>
</main>
</body>
</html>